<header>
  <h1>Let's predict the digit you draw!</h1>
</header>

<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <h3>Draw a digit</h3>
          <div class="wrapper">
              <canvas drawable (newImage)="predict($event)"></canvas><br>
          </div>
          <div>
            <button class="btn btn-sm btn-warning" (click)="canvas.clear()">Clean</button>
            <button class="btn btn-sm btn-warning" (click)="canvas.predictImage()">Predict</button>
          </div>
      </div>
      <div class="col-sm">
          <h3>It is:</h3>
          <chart [data]="predictions"></chart>
      </div>
    </div>
  </div>
</main>

<footer>
  <p>Karolina Melnychuk</p>
</footer>
<router-outlet></router-outlet>
